<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004050129809-1hn6dq61uuedq149511vpl0tjlc2lrpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004050129809-1hn6dq61uuedq149511vpl0tjlc2lrpa</string>
	<key>API_KEY</key>
	<string>AIzaSyAjuQFclBeVvDVe4Q9pQmne7Htk4OZqZ2o</string>
	<key>GCM_SENDER_ID</key>
	<string>1004050129809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AryamanGoenka.SurgoApp</string>
	<key>PROJECT_ID</key>
	<string>surgo-e4f00</string>
	<key>STORAGE_BUCKET</key>
	<string>surgo-e4f00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004050129809:ios:3a511c703391aa2455b030</string>
</dict>
</plist>